In [35]:
import numpy as np
import pandas as pd
import pprint

pp = pprint.PrettyPrinter(indent=4)

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
X, y = data[['Pclass', 'Sex', 'Embarked']], data['Survived']

In [38]:
class NaiveBayes():
    def __init__(self, X, y):
        self.X = X
        self.y = y
        self.lookup_table = {}
    def learn(self):
        self.lookup_table['class'] = {}
        for cls in self.y.unique():
            self.lookup_table['class'][cls] = len(y[y==cls])/len(y)
        for column in self.X.columns:
            self.lookup_table[column] = {}
            for category in self.X[column].unique():
                self.lookup_table[column][category] = {}
                for cls in self.y.unique():
                    self.lookup_table[column][category][cls] = len(X[y==cls][X[column]==category])/len(y[y==cls])
    def display_params(self):
        pp.pprint(self.lookup_table)
    def predict(self, x):
        pass

In [39]:
nb = NaiveBayes(X, y)
nb.learn()
nb.display_params()

/tmp/ipykernel_481/2059096327.py:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  self.lookup_table[column][category][cls] = len(X[y==cls][X[column]==category])/len(y[y==cls])

{   'Embarked': {   nan: {0: 0.0, 1: 0.0},
                    'C': {0: 0.1366120218579235, 1: 0.2719298245614035},
                    'Q': {0: 0.08561020036429873, 1: 0.08771929824561403},
                    'S': {0: 0.7777777777777778, 1: 0.6345029239766082}},
    'Pclass': {   1: {0: 0.14571948998178508, 1: 0.39766081871345027},
                  2: {0: 0.1766848816029144, 1: 0.2543859649122807},
                  3: {0: 0.6775956284153005, 1: 0.347953216374269}},
    'Sex': {   'female': {0: 0.14754098360655737, 1: 0.6812865497076024},
               'male': {0: 0.8524590163934426, 1: 0.31871345029239767}},
    'class': {0: 0.6161616161616161, 1: 0.3838383838383838}}